.App {
  text-align: center;
}

.container{
  width: 100%;
  border: solid red 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.day{
  background-color: lightblue;
}

.night{
  width: 100%;
  color: white;
  background-color: rgb(40, 40, 68);
}